$base-color: #2c2c2c;
$base-color-text: #848484;
$base-color-text-2: #5e5e5e;
$border-dark: #ffffff9a;
$base-color-2: #1A2E40;
$base-color-3: #fafafa;
@mixin flexRS($jc, $fd){
    display: flex;
    flex-direction: $fd;
    align-items: center;
    justify-content: $jc;
}

.Footer{
    width: 100%;
    height: 400px;
    @include flexRS(center, column);
    b{
        color: #5e5e5e;
    }
    .footer-redes{
        width: 500px;
        height: 100px;
        @include flexRS(center, row);
        .icon{
            width: 30px;
            height: 30px;
            margin: 10px;
        }
        p{
            margin: 20px;
        }
    }
    p{
        font-size: 12px;
    }
}