$base-color: #2c2c2c;
$base-color-text: #848484;
$base-color-text-2: #5e5e5e;
$border-dark: #ffffff9a;
$base-color-2: #1A2E40;
$base-color-3: #fafafa;
@mixin flexRS($jc, $fd){
    display: flex;
    flex-direction: $fd;
    align-items: center;
    justify-content: $jc;
}
@mixin animBase(){
    transition: all 0.2s;
    &:hover{
        transform: translateY(-10px);
        box-shadow:  8px 8px 16px #673de613,
                    -8px -8px 16px #673de61f;
    }
}
@mixin hooverBtn(){
    transition: all 0.2s;
    &:hover{
        border-radius: 5px;
        background-color: $base-color-3;
        color: #2c2c2c;
        box-shadow:  8px 8px 16px #673de613,
                    -8px -8px 16px #673de61f;
    }
}
.ticketslist{
    width: 100%;
    height: 100%;
    position: relative;
    @include flexRS(space-around, row);
    overflow: hidden;
    .modal-ticket{
        width: 60%;
        height: 50%;
        top: 20%;
        background-color: #5e5e5e;
        border-radius: 5px;
        position: absolute;
        @include flexRS(space-around, column);
        .modal-body{
            @include flexRS(flex-start, column);
            width: 80%;
            height: 80%;
            input{
                margin: 20px;
                padding: 10px;
            }
        }
        .modal-btns{
            width: 100%;

            @include flexRS(space-around, row);
            height: 50px;
            .btn{
                width: 120px;
                height: 40px;
                border: none;
                margin: 10px;
                border-radius: 5px;
            }
            .back{
                background-color: #ca8282;
                color: white;
                @include hooverBtn();
            }
            .create{
                background-color: #95bd8b;
                color: white;
                @include hooverBtn();
    
            }
        }
    }
    .list-top{
        width: 33%;
        height: 100%;
        overflow: auto;
        .list-element{
            width: 80%;
            height: auto;
            margin: 5px;
            @include flexRS(space-around, row);
            font-size: 14px;
        }
        
        h2{
            font-size: 20px;
            font-weight: 600;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .list-mid{
        width: 30%;
        height: 100%;
        @include flexRS(flex-start, column);
        .select{
            width: 100%;
            height: auto;
            @include flexRS(flex-start, column);
            margin-top: 10%;
            p{
                margin: 10px;
            }
            input{
                width: 40%;
                height: 40px;
                border-radius: 5px;
            }
        }
        .btn{
            width: 60%;
            height: 40px;
            border: none;
            margin: 10px;
            border-radius: 5px;
        }
        .create{
            background-color: #1A2E40;
            color: white;
            @include hooverBtn();
        }
        .update{
            background-color: #8ba6bd;
            color: white;
            @include hooverBtn();

        }
    }
    .list-bot{
        width: 36%;
        height: 100%;
        overflow: auto;
        .list-element{
            width: 80%;
            height: auto;
            padding: 10px;
            margin: 5px;
            @include flexRS(flex-start, row);
            cursor: pointer;
            position: relative;
            @include animBase();
            font-size: 14px;
            p{
                margin: 0px 5px;
            }
        }
        h2{
            font-size: 20px;
            font-weight: 600;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}